.wrapper .me-nav .panel{
    margin-top: 10px;
    margin-left: 15px;
}


/* *
 * @auther xubowei
 * 图表样式
 * */
#container{
    padding-bottom: 20px;

}
/* *
 * @auther xubowei
 * 日历样式
 * */
.wrapper .me-nav .cal{
    background: #fff;
    width: auto;
    height: auto;
    padding: 0 10px 15px;
}

.calendar-hd{
    height: auto;
}
.week{
    padding: 0;
}
/*.calendar-ct .week{*/
    /*width: 321px !important;*/
/*}*/
/*.calendar-ct .date-items .days{*/
    /*width: 321px !important;*/
/*}*/

/* *
 * @author xubowei
 *弹窗样式
 */
.modal .modal-dialog .modal-content .modal-body{
    padding: 0;
}
.modal .modal-dialog .modal-content .modal-body .student-message{
    margin: 10px 0 10px 10px;
    padding: 10px;
    border-left: #41CBAA solid 3px;
    background-color: #EDFAF7;
}
.modal .modal-dialog .modal-content .modal-body .student-message span{
    margin-right: 20px;

}

@media (min-width: 992px){
    .col-md-3 {
        width: 25%;
    }
}
@media (max-width: 992px){
    .col-md-3 {
        width: 40%;
    }
}
@media (max-width: 800px){
    .col-md-3{
        width: 50%;
    }
}
@media (max-width: 640px){
    .col-md-3{
        width: 60%
    }
}
@media (max-width: 533px){
    .col-md-3{
        width: 70%
    }
}
@media (max-width: 457px){
    .col-md-3{
        width: 80%
    }
}
@media (max-width: 400px){
    .col-md-3{
        width: 90%
    }
}
@media (max-width: 356px){
    .col-md-3{
        width: 100%
    }
}
/**
 * @author
 * 弹窗样式
 */
.modal-body .classSituation{
    margin: 20px 0 20px 20px;
}
.modal-body .classSituation .btn-group > label{
    background-color: #41CBAA;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0 10px;
    border: none;
}

.modal-body .classSituation .btn-group .active{
    color: #000;
}
.modal-body .classSummary{
    margin: 20px 0 20px 20px;
}
.modal-body .classSummary textarea{
    width: 50%;
    height: 100px;
}