.wrapper .me-nav .panel{
    margin-top: 10px;
    margin-left: 15px;
}
.col-md-8 {
    width: 76%;
}
.col-md-4 {
    width: 23%;
}
.wrapper .me-nav .calendar{
    background: #fff;
    margin-left: 30px;
    height: auto;
    padding: 0;
}
/* *
 * @auther xubowei
 * 图表样式
 * */
#container{
    padding-bottom: 20px;

}
/* *
 * @auther xubowei
 * 日历样式
 * */
.calendar-hd{
    height: auto;
}
.week{
    padding: 0;
}
.calendar-ct .week{
    width: 321px !important;
}
.calendar-ct .date-items .days{
    width: 321px !important;
}

/* *
 * @author xubowei
 *弹窗样式
 */
.modal .modal-dialog .modal-content .modal-body{
    padding: 0;
}
.modal .modal-dialog .modal-content .modal-body .student-message{
    margin: 10px 0 10px 10px;
    padding: 10px;
    border-left: #41CBAA solid 3px;
    background-color: #EDFAF7;
}
.modal .modal-dialog .modal-content .modal-body .student-message span{
    margin-right: 20px;

}
